.detailPage > *{
  margin-top: 15px;
}

#backArrow{
  height: 25px;
  margin-bottom : 10px;
}


#item-img{
  height: 30vh;
  object-fit:cover;

}

.row #descr{
  font-size: .8rem;
}

#adjustItems{
  display: flex;
  justify-content: space-between;
  font-size: larger;
}

#adjustItems:hover{
  cursor: pointer;
}